extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/create', method='post')
    input(type='hidden', name='_csrf', value=csrf_token)
    input(type='text', name='todo[title]')
    input(type='submit', value='Create')
  - if (typeof errors !== 'undefined')
    div.error(style='color:red')
      = errors.title.message
  table
    tr
      th Title
      th Finish
      th Delete
    each todo, i in todos
      tr
        td #{todo.title}
        td
          a(href='/finish/#{todo.id}') Finish
        td
          a(href='/delete/#{todo.id}') Delete